HUBSPOT_TOKEN=replace_me
HUBSPOT_DASHBOARD_CONFIG={"deal":{"orderId":"order_id","vtdStatus":"virtual_test_drive_status","bookedBy":"virtual_test_drive_booked_by","testDriveStatus":"test_drive_status","bookingConfirmDate":"booking_confirm_date","userState":"delivery_state","interstate":"interstate_sale_yesno","filterDate":"virtual_test_drive_status_timestamp"},"contact":{"email":"email","walkInDate":"check_in_walk_in_date","vehicleState":"vehicle_state","fallbackUserState":"state"}}
